html {
  height: 100%;
}

body {
  min-height: 100%;
  grid-template-areas:
    'nav'
    'main'
    'footer';
}

nav {
  grid-area: nav;
  display: flex;
  flex-direction: column;
  min-width: 1100px;
  padding-bottom: 13px;
  border-bottom: 1px solid rgba(219, 219, 219, 0.5);
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 84px;
}

.search-container .logo {
  width: 92px;
  margin: 0 30px 0 20px;
  place-self: center;
}

.search-bar {
  background-image: url('imgs/micro.png');
  background-repeat: no-repeat;
  background-position: 85%;
  background-size: 14px;

  padding: 0 120px 0 20px;

  border-radius: 30px;
  border: 1px solid lightgray;
  width: 500px;
  height: 43px;
}

.search-bar:hover {
  box-shadow: 0px 0px 6px 1px rgba(189, 189, 189, 1);
}

#search-btn {
  position: relative;
  left: -90px;
  padding: 8px 12px;
  background-color: transparent;
  border: none;
  border-radius: 32px;
  color: rgb(53, 111, 211);
}

#search-btn:hover {
  background-color: rgba(53, 111, 211, 0.2);
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list li input {
  border: 0;
  border-radius: 3px;
  width: 75px;
  height: 30px;
  color: white;
  background-color: rgb(67, 134, 250);
  margin: 0 36px 0 20px;
  font-size: 14px;
  font-weight: bold;
}

.menu {
  justify-content: space-between;
  width: 620px;
  display: flex;
  margin-left: 160px;
}

.menu ul {
  display: flex;
}

.menu ul li a {
  margin-right: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  font-size: 14px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}
.menu ul li a:hover {
  color: rgb(53, 111, 211);
}
#tools-btn-container {
  position: relative;
  width: 50px;
}

#tools-btn {
  padding: 6px 10px;
  font-family: 'Times New Roman', Times, serif;
  color: rgba(0, 0, 0, 0.6);
  border: 1px solid transparent;
  font-size: 14px;
  text-decoration: none;
  background-color: transparent;
  position: absolute;
  top: -5px;
}

#tools-btn:hover {
  background-color: rgb(236, 236, 236);
  border: 1px solid rgb(199, 199, 199);
}

#all-op {
  color: rgb(53, 111, 211);
  border-bottom: 3px solid rgb(53, 111, 211);
}
#all-op img {
  padding-left: 10px;
  width: 16px;
  height: 16px;
}

main {
  width: 610px;
  grid-area: main;
  display: flex;
  flex-direction: column;
  margin-left: 172px;
}

#time {
  margin: 20px 0 0 14px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.element {
  margin-top: 20px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
}

.result-link a {
  text-decoration: none;
  color: rgb(0, 38, 104);
}

.result-link a p {
  display: inline;
}

.result-link a:hover > .underline {
  text-decoration: underline;
}

.green {
  color: rgb(32, 121, 32);
}

.font18 {
  font-size: 18px;
}

.result-info {
  line-height: 18px;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

.nr-pages-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}
.nr-pages-container a {
  text-decoration: none;
  color: rgb(53, 111, 211);
}

.nr-pages-container a:hover {
  text-decoration: underline;
}

.pages-list {
  display: flex;
}

.pages-list li {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.next-page {
  display: flex;
  flex-direction: column;
}

.g-container {
  align-self: flex-start;
}

.g-big-icon {
  background: url('imgs/nav_logo.png') no-repeat -24px 0;
  width: 28px;
  height: 29px;
}
.o-red-icon {
  background: url('imgs/nav_logo.png') no-repeat -54px -10px;
  width: 18px;
  height: 19px;
  margin-bottom: 8px;
}

.o-yel-icon {
  background: url('imgs/nav_logo.png') no-repeat -75px -10px;
  width: 18px;
  height: 19px;
  margin-bottom: 8px;
}
.gle-icon {
  background: url('imgs/nav_logo.png') no-repeat -96px -1px;
  width: 71px;
  height: 36px;
  margin-bottom: 8px;
}

.next-page a {
  transform: translatey(-10px);
  align-self: flex-end;
}

footer {
  font-size: 15px;
  min-width: 1100px;
  grid-area: footer;
  display: flex;
  flex-direction: column;
}

.footer-links {
  display: flex;
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  background-color: rgba(219, 219, 219, 0.3);
}

.location {
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.6);
  border-top: 1px solid rgba(219, 219, 219, 0.5);
  background-color: rgba(219, 219, 219, 0.3);
  padding: 12px 0;
}

.location a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

.location a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.country {
  padding-right: 12px;
  border-right: 1px solid rgba(219, 219, 219, 0.5);
}

.city {
  padding-left: 4px;
}

.bold {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}

#circle {
  display: inline-block;
  margin-left: 12px;
  width: 7px;
  height: 7px;
  background-color: rgb(165, 165, 165);
  border: 1px solid rgb(165, 165, 165);
  border-radius: 100%;
}

.location,
.footer-links {
  padding-left: 173px;
}

.left {
  display: flex;
}

.left li {
  padding: 12px 24px 10px 0;
}

.left li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.left li a:hover {
  color: rgba(0, 0, 0, 0.8);
}

.people-ask-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid rgba(165, 165, 165, 0.4);
  border-radius: 10px;
  width: 640px;
  align-self: center;
}
.people-ask-container a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.8);
}

.people-ask-container h2 {
  padding: 12px;
  font-size: 18px;
  color: rgb(134, 134, 134);
}

.qs-container {
  padding: 12px;
  font-size: 16px;
  border-top: 1px solid rgba(165, 165, 165, 0.4);
  display: flex;
  justify-content: space-between;
}

.arrow {
  background: url('imgs/arrow.png') no-repeat;
  background-size: 50%;
  width: 24px;
}

.feedback {
  padding-top: 4px;
  font-style: italic;
  font-size: 14px;
  align-self: flex-end;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.6);
}

.feedback:hover {
  text-decoration: underline;
}
